# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# Executables
# *.exe
*.out
*.app

# Makefiles
Makefile
*.make

# Mine :)
build
.cache
.idea
cmake-build-debug
cmake-build-release
*.user
*.sublime-workspace
.lite_project.lua
bin/Debug/text-editor-software-rendering
bin/Debug/text-editor-software-rendering.exe
bin/Release/text-editor-software-rendering
bin/Release/text-editor-software-rendering.exe
res.res
dist/windows/config.toml
dist/windows/Rocket.exe
dist/windows/assets
.vs
CMakeSettings.json
